{% extends 'base.html' %}

{% load hey_extras %}

{% block title %}Friends{% endblock %}

{% block content %}

<h2>Friends</h2>

<p><a href="{% url 'hey:friend-add' %}">Add a friend</a></p>

{% if object_list %}
<ul>
    {% for friend in object_list %}
    <li>
        <a href="{% url 'hey:friend-detail' friend.id %}">{{ friend.get_full_name }}</a>

        {% if friend.last_contact %}(last contact: {{ friend.last_contact |style_last_contact }}){% endif %}

        <a href="{% url 'hey:friend-update' friend.id %}" title="Update">✏️</a>

        {% if friend.birthday or friend.phone %}
        <ul>
            {% if friend.birthday %}
            <li>Birthday: {{ friend.birthday }}</li>
            {% endif %}
            {% if friend.phone %}
            <li>Phone: {{ friend.phone }}</li>
            {% endif %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No friends yet. Try adding some!</p>
{% endif %}

{% endblock %}