{% extends 'base.html' %}

{% block title %}{{ object.first_name }}{% endblock %}

{% block content %}
{% if object.last_name %}
<h1>
    {{ object.first_name }} {{ object.last_name }} {% if object.pronouns %}({{ object.pronouns }}){% endif %}
</h1>
{% else %}
<h1>
    {{ object.first_name }} {% if object.pronouns %}({{ object.pronouns }}){% endif %}
</h1>
{% endif %}

<p>
    <a href="{% url 'hey:friend-update' object.id %}">Update</a> |
    <a href="{% url 'hey:friend-delete' object.id %}">Delete</a>
</p>

{% if object.birthday %}
<p>Birthday: {{ object.birthday }}</p>
{% else %}
<p>Birthday: None</p>
{% endif %}

{% if object.phone %}
<p>Phone: {{ object.phone }}</p>
{% else %}
<p>Phone: None</p>
{% endif %}

{% if object.last_contact %}
<p>Last contact: {{ object.last_contact }}</p>
{% endif %}

{% if object.status %}
<p>Status: {{ object.status }}</p>
{% endif %}

<p>Group: {{ object.group|default_if_none:"None" }}</p>
{% endblock %}
