{% extends 'base.html' %}

{% load hey_extras %}

{% block title %}Friends{% endblock %}

{% block styles %}
<style>
.overdue {
    color: rgb(248, 57, 57);
}
</style>
{% endblock %}

{% block content %}

<h2>Friends</h2>

<p><a href="{% url 'hey:friend-add' %}">Add a friend</a></p>

{% if object_list %}
    {% regroup object_list by group as groups %}
    {% for group in groups %}
    <ul>
        <h3>{{ group.grouper }}</h3>
        Cadence: every {{ group.grouper.frequency }} {{ group.grouper.get_unit_display }}{{ group.grouper.frequency|pluralize:",s" }}
        {% for friend in group.list %}
        <li>
            <a href="{% url 'hey:friend-update' friend.id %}" title="Update">✏️</a>
            <a href="{% url 'hey:friend-detail' friend.id %}">{{ friend.get_full_name }}</a>

            {% if friend.last_contact %}
            (last contact: <span {% if friend.is_overdue %}class="overdue"{% endif %}>
                {{ friend.last_contact |style_last_contact }}
            </span>)
            {% endif %}


            {% if friend.birthday or friend.phone %}
            <ul>
                {% if friend.has_recent_birthday %}
                <li>Birthday: {{ friend.birthday }}</li>
                {% endif %}
                {% if friend.phone %}
                <li>Phone: {{ friend.phone }}</li>
                {% endif %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
{% else %}
<p>No friends yet. Try adding some!</p>
{% endif %}

{% endblock %}
